@import 'styles/variables.scss';

.offical,.global {
  margin: 10px 5px;
  padding-top: 15px;
  font-weight: 700;
  font-size: $font-size-ll;
  color: $text-color;
}

.list {
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  .list-item {
    display: flex;
    padding: 3px;
    .img-wrapper {
      width: calc((100vw - 32px) / 3);
      height: calc((100vw - 32px) / 3);
      border-radius: 3px;
      position: relative;
      .decorate {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 35px;
        border-radius: 3px;
        background: linear-gradient(
          hsla(0, 0%, 100%, 0),
          hsla(0, 0%, 43%, 0.4)
        );
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }
      .update-frequecy {
        position: absolute;
        left: 7px;
        bottom: 7px;
        font-size: $font-size-s;
        color: $font-color-light;
      }
    }
  }
}

.song-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px;
  > li {
    font-size: $font-size-s;
    color: grey;
  }
}
