@import 'styles/variables.scss';
@import 'styles/global.scss';

.song-list {
  border-radius: 10px;
  opacity: 0.98;
  .first-line {
    box-sizing: border-box;
    padding: 10px 0;
    margin-left: 10px;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid $theme-light-color;
    .play-all {
      display: inline-block;
      line-height: 24px;
      color: $text-color;
      .sum {
        font-size: $font-size-s;
        color: $theme-light-color;
      }
      > span {
        vertical-align: top;
      }
      .icon-play-cycle {
        margin-right: 2px;
        font-size: $font-size-ll;
      }
    }
  }
}

.song-item {
  margin: 0;
  padding: 0;
  > li {
    display: flex;
    height: 60px;
    align-items: center;
    .index {
      flex-basis: 50px;
      width: 50px;
      height: 60px;
      line-height: 60px;
      text-align: center;
    }
    .info {
      box-sizing: border-box;
      flex: 1;
      display: flex;
      height: 100%;
      padding: 5px 0;
      flex-direction: column;
      justify-content: space-around;
      border-bottom: 1px solid $theme-light-color;
      @extend .no-wrap;
      > span {
        @extend .no-wrap;
      }
      > span:first-child {
        color: $text-color;
      }
      > span:last-child {
        font-size: $font-size-s;
        color: $theme-light-color;
      }
    }
  }
}
