@import 'styles/variables.scss';

.scroll-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: $text-color;
  background-color: $theme-background-color;
  .scroller {
    display: inline-flex;
  }
}

.pull-down-loading {
  position: absolute;
  left:0; 
  right:0;
  top: 0;
  width: 2em;
  height: 2em;
  margin: auto;
  z-index: 100;
}

.pull-up-loading {
  padding-bottom: 10px;
  width: 90px;
  height: 15px;
  margin: auto;
  z-index: 100;
}