@import 'styles/variables.scss';

.tabbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $tabbar-background-color;
  opacity: .92;
  a {
    flex: 1;
    padding: 2px 0;
    font-size: $font-size-s;
    color: $text-color;
    text-decoration: none;
    .tabbar-icon {
      font-size: $font-size-m;
      margin-bottom: 7px;
    }
    span {
      padding: 3px 0;
      font-weight: 700;
      position: relative;
    }
    &.selected {
      color: #d44439;
      padding-top: 6px;
      .tabbar-icon {
        font-size: $font-size-s;
        color: $text-color;
      }
      span {
        &::before {
          position: absolute;
          top: -24px;
          left: 0;
          right: 0;
          margin: auto;
          content: '';
          display: block;
          background: #d44439;
          width: 23px;
          height: 23px;
          border-radius: 50%;
          z-index: -1;
        }
      }
    }
  }
  .tabbar-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
