@import 'styles/variables.scss';

@keyframes confirmFadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes confirmZoom {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.confirm-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, .3);
  &.confirm-fade-enter-active{
    animation: confirmFadeIn 0.3s;
    .confirm-content{
      animation: confirmZoom 0.3s;
    }
  }
  >div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 100;
    .confirm-content{
      width: 270px;
      border-radius: 13px;
      background: $theme-light-color;
      .text{
        padding: 19px 15px;
        line-height: 22px;
        text-align: center;
        font-size: $font-size-l;
        color: $text-color;
      }
      .operate{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: $font-size-l;
        .operate-btn{
          flex: 1;
          line-height: 22px;
          padding: 10px 0;
          border-top: 1px solid $text-color;
          color: $text-color;
          &.left{
            border-right: 1px solid $text-color;
          }
        }
      }
    }
  }
}