.extend-click {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
  }
}

.no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fly-enter, .fly-appear {
  transform: translate3d(100%, 0, 0);
}
.fly-enter-active, .fly-appear-active {
  transition: transform .3s;
  transform: translate3d(0, 0, 0);
}
.fly-exit {
  transform: translate3d(0, 0, 0);
}
.fly-exit-active {
  transition: transform .3s;
  transform: translate3d(100%, 0, 0);
}