.extend-click {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
  }
}

.no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fly-enter, .fly-appear {
  transform: translate3d(100%, 0, 0);
}
.fly-enter-active, .fly-appear-active {
  transition: transform .3s;
  transform: translate3d(0, 0, 0);
}
.fly-exit {
  transform: translate3d(0, 0, 0);
}
.fly-exit-active {
  transition: transform .3s;
  transform: translate3d(100%, 0, 0);
}


.scale-enter, .scale-appear {
  transform: scale(0);
}
.scale-enter-active, .scale-appear-active {
  transition: transform .2s;
  transform: scale(1);
}
.scale-exit {
  transform: scale(1);
}
.scale-exit-active {
  transition: transform .2s;
  transform: scale(0);
}

.normalPlayer-enter,
.normalPlayer-exit-done {
  .top {
    transform: translate3d(0, -100px, 0);
  }
  .bottom {
    transform: translate3d(0, 100px, 0);
  }
}
.normalPlayer-enter-active,
.normalPlayer-exit-active {
  .top,
  .bottom {
    transform: translate3d(0, 0, 0);
    transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32);
  }
  opacity: 1;
  transition: all 0.4s;
}
.normalPlayer-exit-active {
  opacity: 0;
}

.list-fade-enter {
  opacity: 0;
}
.list-fade-enter-active {
  opacity: 1;
  transition: all 0.3s;
}
.list-fade-exit {
  opacity: 1;
}
.list-fade-exit-active {
  opacity: 0;
  transition: all 0.3s;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all 0.4s;
}
.fade-enter-done {
  transition: none;
}
.fade-exit-active {
  opacity: 0;
}
.fade-exit-done {
  opacity: 0;
}