$theme-color: #fff;
$theme-background-color: #0d0d0d;
$theme-shadow: 0 1px 3px 1px rgba(0,0,0,.18);
$font-color-light: #f1f1f1;
$font-color-desc: #2E3030;
$font-color-desc-v2: #bba8a8; // 略淡
$font-size-ss: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-ll: 18px;
$border-color: #e4e4e4;
$background-color: #f2f3f4;
$background-color-shadow: rgba(0, 0, 0, 0.3);
$highlight-background-color: #fff;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  themeColor: $theme-color;
  themeBackgroundColor: $theme-background-color;
  fontColorLight: $font-color-light;
  fontColorDesc: $font-color-desc;
  fontColorDescV2: $font-color-desc-v2; // 略淡
  fontSizeSs: $font-size-ss;
  fontSizeS: $font-size-s;
  fontSizeM: $font-size-m;
  fontSizeL: $font-size-l;
  fontSizeLl: $font-size-ll;
  borderColor: $border-color;
  backgroundColor: $background-color;
  backgroundColorShadow: $background-color-shadow;
  highlightBackgroundColor: $highlight-background-color;
}