@import 'styles/variables.scss';
.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  background: $theme-background-color;
  color: $text-color;
  transform-origin: right bottom;
}