@import 'styles/variables.scss';

@keyframes ripple {
  0% {
    width: 2.5em;
    height: 2.5em;
    border: 1px solid $theme-light-color;
  }
  100% {
    border: 1px solid $theme-light-color;
    width: 5em;
    height: 5em;
    opacity: 0.1;
  }
}

#netease-logo-stroke {
  stroke-dasharray: 2825px;
  stroke: $theme-light-color;
  stroke-linecap: round;
}

.svg-clone {
  .netease-logo-stroke-path {
    stroke-dasharray: 2825px;
    stroke-dashoffset: 0;
    stroke: rgba(255,255,255, .1);
    stroke-linecap: round;
  }
}


.loaded {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;

  &:after,
  &:before {
    content: '';
    position: absolute;
    border: 1px solid $theme-light-color;
    display: block;
    border-radius: 50%;
    animation-name: ripple;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
  }
  &:after {
    width: 3em;
    height: 3em;
    animation-delay: 0s;
  }
  &:before {
    width: 2.5em;
    height: 2.5em;
    animation-delay: .8s;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
}
