@import 'styles/variables.scss';

@keyframes ripple {
  0% {
    width: 6.5em;
    height: 6.5em;
    border: 2px solid $background-color;
  }
  100% {
    border: 2px solid $background-color;
    width: 20em;
    height: 20em;
    opacity: 0.1;
  }
}

.loading {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    width: 6.5em;
    height: 6.5em;
    border-radius: 50%;
    background: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 6.5em;
      height: 6.5em;
      border: 2px solid $background-color;
      display: block;
      border-radius: 50%;
      animation-name: ripple;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-timing-function: linear;
    }
    &:after {
      animation-delay: 0s;
    }
    &:before {
      animation-delay: 1s;
    }
  }
}

.netease-logo {
  width: 2.6em;
  height: 2.6em;
  color: $theme-light-color;
}