@import 'styles/variables.scss';

.header {
  display: flex;
  // justify-content: center;
  justify-content: space-between;
  padding: 0 5px 0 10px;
  align-items: center;
  height: 44px;
  color: $text-color;
  font-weight: 700;
  background-color: $theme-background-color;
}