@import 'styles/variables.scss';

.header {
  display: flex;
  justify-content: center;
  // justify-content: space-between;
  align-items: center;
  height: 44px;
  color: $theme-color;
  background-color: $theme-background-color;
}